table{
  width: 50%;
}
.main{
  display: flex;
}
.top{
  padding-right: 30px;
  margin: 3rem;
  height: 35px;
  display: flex;
}
.top>input{
  margin-right: 20px ;
  color: rgb(22, 22, 22);
}
.left-side >p{
  margin-left: 3rem;
}